.character-profile{
    margin-top: 4rem;
    min-height: 100vh;
    background: rgb(39, 43, 51);
    color: #fff;
    padding: 2rem;
}

  .profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .profile-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .profile-info h1 {
    margin: 10px 0;
    font-size: 24px;
  }
  
  .location-info,
  .episodes {
    margin-bottom: 20px;
  }
  
  .location-info h2,
  .episodes h2 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
    color: rgb(255, 152, 0);
    /* border-bottom: 2px solid rgb(255, 152, 0);  */
    padding-bottom: 5px;
  }
  
  .chips {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .chip {
    background: rgb(255, 152, 0);
    color: #fff;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
  }
  .chip:hover {
    background: rgb(255, 87, 34); 
  }

  .no-episodes-message {
    color: #ff6f61;
    font-style: italic;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(39, 43, 51);
  }
  
  @media (min-width: 600px) {
    .profile-header {
      flex-direction: row;
      text-align: left;
    }
  }
  