.home {
    margin-top: 4rem;
    min-height: 100vh;
}

.home-filters {
    margin-top: 4rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem
}


.character-list {
    margin-top: 4rem;
}

.loader{
    margin-top: 1rem;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}