.navbar{
    background-color: white !important;
    color: black !important;
    /* box-shadow: none !important; */
    position: fixed !important;
    top: 0 !important;
    z-index: 1;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.nav-logo{
    height: 2rem;
    margin-left:1rem;
    cursor: pointer;
}

.nav-logo-img{
    height: 100%;
    width: 100%;   
}


.nav-list-menu-item{
    margin-right:1rem;
    display: flex;
    gap:1.5rem
}

.nav-list-item-text{
    color: black;
    text-decoration: none;
    font-weight: 800 !important;
    font-size: 1.2rem !important;
    cursor: pointer;
}


.nav-list-item-text:hover{
    color: rgb(255, 152, 0) !important
}


.nav-drawer-list-menu-text > span{
    color: black;
    font-weight: 800 !important;
    font-size: 1.2rem !important;
    text-align: center;
}

.nav-drawer-list-menu-text > span:hover{
    color: rgb(255, 152, 0) !important;
    cursor: pointer !important;
}