.locations{
    margin-top: 4rem;
    min-height: 100vh;
}

.locations-filter{
    margin-top: 4rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem
}

.locations-list{
    margin-top:4rem
}